<aside role="dialog"
       class="map-modal modal-<%- data.type %> <%- data.modalClass %>
               <% if(data.responsive){ %><%- data.responsiveClass %><% } %>
               <% if(data.innerScroll){ %><%- data.innerScrollClass %><% } %>"
<% if(data.title){ %> aria-labelledby="modal-title-<%- data.id %>"<% } %>
aria-describedby="modal-content-<%- data.id %>"
data-role="modal"
data-type="<%- data.type %>"
tabindex="0">
<div data-role="focusable-start" tabindex="0"></div>
<div class="modal-inner-wrap"
     data-role="focusable-scope">
    <header class="modal-header">
        <div class="modal-form">
            <% if(data.title || data.subTitle){ %>
            <h1 id="modal-title-<%- data.id %>" class="modal-title"
                data-role="title">
                <% if(data.title){ %>
                <%= data.title %>
                <% } %>

                <% if(data.subTitle){ %>
                <span class="modal-subtitle"
                      data-role="subtitle">
                    <%= data.subTitle %>
                </span>
                <% } %>
            </h1>
            <% } %>
            <div class="modal-form-controls-wrapper">
                <div id="modal-form-controls">
                </div>
                <button
                    class="action primary"
                    data-role="searchBtn"
                    type="button">
                    <span><%= data.searchText %></span>
                </button>
            </div>
        </div>
        <button
            class="action-close"
            data-role="closeBtn"
            type="button">
            <span><%= data.closeText %></span>
        </button>
    </header>
    <div id="modal-content-<%- data.id %>"
         class="modal-content"
         data-role="content"></div>
</div>
<div data-role="focusable-end" tabindex="0"></div>
</aside>
