<?php
/** @var \Nshift\Integration\Block\Frontend\Checkout\Checkout $block */
$google_maps_api_key = $block->getGoogleMapsApiKey();
if ($block->isActiveShipadvise()) {
    $default_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/default.png');
    $fpcnc_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/fpcnc.png');
    $ups_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/ups.png');
    $dpd_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/dpd.png');
    $hermes_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/hermes.png');
    $dhl_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/dhl.png');
    $dhlexp_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/dhlexp.png');
    $bring_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/bring.png');
    $dao_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/dao.png');
    $gls_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/gls.png');
    $postnord_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/postnord.png');
    $best_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/best.png');
    $benum_marker = $block->getViewFileUrl('Nshift_Integration::images/markers/benum.png');
    ?>
    <input type="hidden" name="google_maps_api_key" id="google_maps_api_key" value="<?php echo $google_maps_api_key; ?>">
    <input type="hidden" name="default_marker" id="default_marker" value="<?php echo $default_marker; ?>" />
    <input type="hidden" name="fpcnc_marker" id="fpcnc_marker" value="<?php echo $fpcnc_marker; ?>" />
    <input type="hidden" name="ups_marker" id="ups_marker" value="<?php echo $ups_marker; ?>" />
    <input type="hidden" name="dpd_marker" id="dpd_marker" value="<?php echo $dpd_marker; ?>" />
    <input type="hidden" name="hermes_marker" id="hermes_marker" value="<?php echo $hermes_marker; ?>" />
    <input type="hidden" name="dhl_marker" id="dhl_marker" value="<?php echo $dhl_marker; ?>" />
    <input type="hidden" name="dhlexp_marker" id="dhlexp_marker" value="<?php echo $dhlexp_marker; ?>" />
    <input type="hidden" name="bring_marker" id="bring_marker" value="<?php echo $bring_marker; ?>" />
    <input type="hidden" name="dao_marker" id="dao_marker" value="<?php echo $dao_marker; ?>" />
    <input type="hidden" name="gls_marker" id="gls_marker" value="<?php echo $gls_marker; ?>" />
    <input type="hidden" name="postnord_marker" id="postnord_marker" value="<?php echo $postnord_marker; ?>" />
    <input type="hidden" name="best_marker" id="best_marker" value="<?php echo $best_marker; ?>" />
    <input type="hidden" name="benum_marker" id="benum_marker" value="<?php echo $benum_marker; ?>" />

    <?php if(!empty($google_maps_api_key)) { ?>
        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<?php echo $google_maps_api_key; ?>"></script>
    <?php } else { ?>
        <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <?php } ?>
<?php } ?>
<script type="text/javascript">
    window.isShipadviseEnabled = <?= !empty($block->isActiveShipadvise()) ? 'true' : 'false' ?>;
</script>
