.sp-methods {
    margin-top: 10px;
}
.sp-methods li.d-flex {
    padding: 10px;
    border: 1px solid #ccc;
    overflow: auto;
}
.sp-methods .column-left {
    width: 80%;
    float: left;
    vertical-align: middle;
}
.sp-methods .column-right {
    width: 19%;
    float: right;
    text-align:center;
    vertical-align: middle;
}
.sp-methods label {
    font-weight: bold;
}
.sp-methods .shipping-method-radio {
    /*display:none;*/
    /* This is commented, should be uncommented on simple checkout branch */
}
.sp-methods .shipping-method-radio:checked + li {
    background: #f7f7f7;
}
.d-none {
    display: none !important;
}
.full-width {
    width: 100%;
}
.full-95-width {
    width: 95%;
}
.full-45-width {
    width: 45%;
}
.full-50-width {
    width: 50%;
}
.one-row {
    display: inline-block;
}
.col-right {
    text-align: right;
}

@media (min-width: 1024px){
    .table-checkout-shipping-method {
        min-width: 800px!important;
    }
}

@media only screen and (max-width: 1024px) {
    /* For mobile phones: */
    table.addressTable {
    margin-left: 0%;
    margin-top: 15px;
    }
}

@media only screen and (max-width: 512px) {
    /* For mobile phones: */
    table.addressTable {
    margin-top: 10px;
    }
}

#map {
    margin: 0;
    padding: 0;
    height: 400px;
    max-width: none;
}
#map img {
    max-width: none !important;
}
.gm-style-iw {
    width: 450px !important;
    top: 15px !important;
    left: 0px !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
}
#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
    /*   padding: .75rem 1.25rem;
       margin-bottom: 0;
       background-color: rgba(0,0,0,.03);
       border-bottom: 1px solid rgba(0,0,0,.125);
       font-size: 1.25rem;
       font-family: inherit;
       font-weight: 500;
       line-height: 1.2;
       color: inherit;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 5px #ccc solid;
    font-size: 26px;
    font-weight: 700;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: #555;
}
#iw-container .iw-content {
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    margin-right: 1px;
    padding: 0px 5px 20px 0px;
    max-height: 303px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    /*        float: right;
            margin: 0 5px 5px 10px;
    */      }
.iw-content-border {
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.iw-content-padding {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
}
.iw-content p  {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    color: #555;
    font-size: 18px;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: 700;
    padding: 5px 0;
}
.iw-bottom-gradient {
    position: absolute;
    width: 326px;
    height: 25px;
    bottom: 10px;
    right: 18px;
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}

.consignor-hidden
{
    display:none;
}
.consignor-show
{
    display:block;
}
.mapbox {
    width:70%;
    display:block;
    float: left;
}
.infobox {
    width:30%;
    display:block;
    float: left;
}
.hours-schedule{
   width: 60%;
   display: block;
   float: left;
}
.hours-day{
    width: 40%;
    display: block;
    float: left;
}
.hours-block{
    overflow: hidden;
    font-weight: 400;
    color: #555;
}
.saved-collection-point {
    margin-top: 20px;
    background: #eee;
    border: 1px solid #ccc;
    padding: 10px;
}