<div class="form-pickup-point" data-bind="visible: pickup">
    <form id="pickup-point-form" class="form" data-bind="attr: {'data-hasrequired': $t('* Required Fields')}">
        <div class="personal-details-step">
            <div class="step-title"><span data-bind="i18n: 'Personal details'"></span></div>
            <fieldset class="fieldset">
                <!-- ko foreach: getRegion('personal-details-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
        </div>
        <div class="pickup-form-step" data-bind="visible: !hasDropPointBeenSelected()">
            <div class="step-title" data-bind="blockLoader: isDropPointsLoading">
                <span data-bind="i18n: 'Local Collection Point'"></span>
            </div>
            <h3 class="map-collection__heading is-uppercase" translate="'Find a collection point'"></h3>
            <fieldset class="fieldset">
                <!-- ko foreach: getRegion('pickup-address-form-fields') -->
                <!-- ko template: getTemplate() --><!-- /ko -->
                <!--/ko-->
            </fieldset>
            <button type="submit" data-bind="click: onSubmit" class="button action primary">
                <span data-bind="i18n: 'Search'"></span>
            </button>
        </div>
    </form>
    <div class="shipadvise-droppoints" visible="isMapPopupVisible()">
        <div class="collection-points">
            <div id="map-main">
                <div id="map-form-fields">
                    <!-- ko foreach: getRegion('map-form-fields') -->
                    <!-- ko template: getTemplate() --><!-- /ko -->
                    <!--/ko-->
                </div>
                <div class="map-ui" data-bind="blockLoader: isDropPointsLoading">
                    <div id="map" class="mapbox"></div>
                    <div id="info" class="infobox"></div>
                </div>
            </div>
        </div>
    </div>
    <div role="alert"
         if="errorMessage().length"
         class="message error">
        <span text="errorMessage()" />
    </div>
    <if args="getDropPointData()">
        <div class="saved-collection-point">
            <div class="shop-information">
                <div class="shop-top">
                    <h4 class="store-name" if="getDropPointData(['name'])" text="getDropPointData(['name'])"></h4>
                    <address>
                        <if args="getDropPointData(['address', 'street1'])">
                            <span text="getDropPointData(['address', 'street1'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'street2'])">
                            <span text="getDropPointData(['address', 'street2'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'street3'])">
                            <span text="getDropPointData(['address', 'street3'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'city'])">
                            <span text="getDropPointData(['address', 'city'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'region'])">
                            <span text="getDropPointData(['address', 'region'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'postcode'])">
                            <span text="getDropPointData(['address', 'postcode'])" />
                            <br />
                        </if>
                        <if args="getDropPointData(['address', 'country_code'])">
                            <span text="getDropPointData(['address', 'country_code'])" />
                        </if>
                    </address>
                </div>
            </div>
            <button type="button" class="button action secondary choose-location-button"
                    click="changeDropPoint">
                <span translate="'Change collection point'" />
            </button>
        </div>
    </if>
</div>
