<div id="checkout-shipping-method-load">
    <div class="sp-methods">
        <dl class="items methods"
            data-bind="foreach: shippingRateGroups">
            <if args="typeof $parent.getRatesForGroup($data.carrier)[0] !== 'undefined'">
                <dt class="item-title" attr="'class': 'carrier_' + $parent.getRatesForGroup($data.carrier)[0].carrier_code">
                    <img class="carrier-icon"
                         attr="'src': 'https://integration.consignor.com/magento/images/carriers/'+ $data.image +'.png'"
                         width="75" />
                    <span data-bind="text: $data.carrier"></span>
                </dt>
            </if>
            <if args="typeof $parent.getRatesForGroup($data.carrier)[0] === 'undefined'">
                <dt class="item-title">
                    <span data-bind="text: $data.carrier"></span>
                </dt>
            </if>
            <dd class="item-options" data-bind="foreach: { data:$parent.getRatesForGroup($data.carrier), as: 'method' }">
                <!--ko template: { name: element.shippingMethodItemTemplate} --><!-- /ko -->
            </dd>
        </dl>
    </div>
</div>
