<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<ifnot args="method.error_message">
    <li
        attr="'class': 'd-flex align-items-center method-list__item method_' + method.method_code + '_' + method.carrier_code,
            'data-carrier': method.carrier_code"
        click="element.selectShippingMethod">
        <div class="col col-method">
            <input type="radio"
                   class="radio shipping-method-radio"
                   ifnot="method.error_message"
                   ko-checked="element.isSelected"
                   ko-value="method.carrier_code + '_' + method.method_code"
                   attr="'aria-labelledby': 'label_method_' + method.method_code + '_' + method.carrier_code + ' ' + 'label_carrier_' + method.method_code + '_' + method.carrier_code" />
        </div>
        <div class="col col-method">
            <p attr="'id': 'label_method_' + method.method_code + '_' + method.carrier_code"
               text="method.method_title"></p>
        </div>

        <div class="col col-price">
            <each args="element.getRegion('price')" render="" />
        </div>
        <div if="method.extension_attributes.description" data-bind="html: method.extension_attributes.description"></div>
        <each args="element.getRegion('additional')" render="" />
    </li>
</ifnot>
<if args="method.error_message">
    <li class="row row-error">
        <td class="col col-error" colspan="4">
            <div role="alert" class="message error">
                <div text="method.error_message"></div>
            </div>
            <span class="no-display">
                <input type="radio"
                       attr="'value' : method.method_code, 'id': 's_method_' + method.method_code" />
            </span>
        </td>
    </li>
</if>
